<nav class="sticky w-full bg-gradient-to-t from-slate-950/40 via-slate-950/70 to-blue-900/70 top-0 z-50 backdrop-blur-md border-b border-white/5">
    <div class="relative max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-row items-center justify-between h-16">
            <a href="/" class="group flex items-center space-x-3">
                <div class="relative"><img src="{{ url_for('static', filename='images/Lunes.svg') }}" alt="Logo" rel="preload" class="h-auto w-10 rounded-lg" width="32" height="32"></div>
                <div>
                    <h2 class="text-xl font-bold text-white">Lunes</h2>
                </div>
            </a>
        </div>
    </div>
</nav>
