
        body {
            background-color: #1e293b;
            margin: 0;
            padding: 0;
            margin-left: 250px;
            transition: margin-left 0.3s ease-in-out;
        }
        .sidebar {
            width: 250px;
            background-color: #2d3748;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            overflow-y: auto;
            transition: transform 0.3s ease-in-out;
        }
        .sidebar.hidden {
            transform: translateX(-100%);
        }
        .container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #2d3748;
        }
        @media (max-width: 768px) {
            body {
                margin-left: 0;
            }
            .sidebar {
                width: 100%;
                transform: translateX(-100%);
            }
            .sidebar.hidden {
                transform: translateX(0);
            }
        }