body {
    background-color: #1e293b;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 250px;
    background-color: #2d3748;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.content {
    margin-left: 0px;
    padding: 20px;
    flex-grow: 1;
    background-color: #1e293b;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #2d3748;
}
p {color:#fff}