/* Add CSS reset to ensure consistent styles across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1475727946784-2890c8fdb9c8?ixid=M3wyMDkyMnwwfDF8c2VhcmNofDQ2fHx3YWxscGFwZXJ8ZW58MHx8fHwxNjkwNjE2NjA0fDA&ixlib=rb-4.0.3q=85&fm=jpg&crop=faces&cs=srgb&w=1200&fit=max");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.login-box {
    background-color: #fff;
    border-radius: 50px;

    /* Make the box round by setting a large border-radius */
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #888;
    background: transparent;
    outline: none;
    color: #333;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s ease all;
    color: #888;
}

input:focus + label,

input:valid + label {
    top: -20px;
    font-size: 12px;
    color: #00adef;
}

button[type="submit"] {
    background-color: #00adef;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #00a2db;
}

/* Animation for the login box */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    color: #03a9f4;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    transition: color 0.3s;
}

.link:hover {
    color: #0288d1;
}

.error-message {
    color: red;
    margin-top: 10px;
}