body {
    background-image: url("https://images.unsplash.com/photo-1475727946784-2890c8fdb9c8?ixid=M3wyMDkyMnwwfDF8c2VhcmNofDQ2fHx3YWxscGFwZXJ8ZW58MHx8fHwxNjkwNjE2NjA0fDA&ixlib=rb-4.0.3q=85&fm=jpg&crop=faces&cs=srgb&w=1200&fit=max");
    background-size: cover;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    text-align: center;
}

.server-details-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.delete-button {
    background-color: #ff4040;
}

.manage-button {
    background-color: #00adef;
}

.button:hover {
    background-color: #00a2db;
}
