body {
  background-color: #1e293b;
  margin-left: 16rem;
  padding: 0;
}
.content {
  padding: 20px;
}
.store-container {
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #2d3748;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.product-card {
  background-color: #374151;
  color: #fff;
}
.product-card:hover {
  background-color: #4b5563;
}
