<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.9/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/taskbar.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/37a0f8002e.js" crossorigin="anonymous"></script>
   
</head>
<body class="bg-base-200 text-base-100">
    <button class="toggle-btn" id="toggleSidebar">
        <i class="fa fa-bars"></i>
    </button>
    <nav class="sidebar" id="sidebar">
        <ul class="menu">
            <li>
                <a href="{{ url_for('index') }}" class="nav-link">
                    <i class="fa fa-home fa-lg"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('index') }}" class="nav-link">
                    <i class="fa fa-server fa-lg"></i>
                    <span class="nav-text">Servers</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('user.index') }}" class="nav-link">
                    <i class="fa fa-user fa-lg"></i>
                    <span class="nav-text">Account</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('store.storepage') }}" class="nav-link">
                    <i class="fa fa-solid fa-cart-shopping"></i>
                    <span class="nav-text">Store</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('tickets.tickets_index') }}" class="nav-link">
                    <i class="fa fa-ticket fa-lg"></i>
                    <span class="nav-text">Tickets</span>
                </a>
            </li>
            <li>
                <a href="{{ DISCORD_INVITE }}" class="nav-link">
                    <i class="fa fa-brands fa-discord fa-lg"></i>
                    <span class="nav-text">Discord</span>
                </a>
            </li>
            <li class="divider">Admin Panel</li>
            <li>
                <a href="{{ url_for('admin.admin_index') }}" class="nav-link">
                    <i class="fa fa-shield fa-lg"></i>
                    <span class="nav-text">Admin Home</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.users') }}" class="nav-link">
                    <i class="fa fa-users fa-lg"></i>
                    <span class="nav-text">Manage Users</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.admin_servers') }}" class="nav-link">
                    <i class="fa fa-server fa-lg"></i>
                    <span class="nav-text">All Servers</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.admin_tickets_index') }}" class="nav-link">
                    <i class="fa fa-ticket fa-lg"></i>
                    <span class="nav-text">Support Tickets</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.activity_logs') }}" class="nav-link">
                    <i class="fa fa-history fa-lg"></i>
                    <span class="nav-text">Activity Logs</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.admin_stats') }}" class="nav-link">
                    <i class="fa fa-chart-bar fa-lg"></i>
                    <span class="nav-text">Stats</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.nodes') }}" class="nav-link">
                    <i class="fa fa-microchip fa-lg"></i>
                    <span class="nav-text">Nodes</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.announcements') }}" class="nav-link">
                    <i class="fa fa-bullhorn fa-lg"></i>
                    <span class="nav-text">Announcements</span>
                </a>
            </li>
        </ul>
        <ul class="logout">
            <li>
                <a href="{{ url_for('user.logout') }}" class="nav-link">
                    <i class="fa fa-power-off fa-lg"></i>
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
    <script>
        const toggleBtn = document.getElementById('toggleSidebar');
        const body = document.body;
    
        toggleBtn.addEventListener('click', () => {
            if (body.classList.contains('sidebar-hidden')) {
                body.classList.remove('sidebar-hidden');
                body.classList.add('sidebar-visible');
            } else {
                body.classList.remove('sidebar-visible');
                body.classList.add('sidebar-hidden');
            }
            toggleBtn.classList.toggle('moved');
        });
    </script>
</body>
</html>