<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/taskbar.css') }}">
    <script src="https://kit.fontawesome.com/37a0f8002e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="{{url_for(('index'))}}">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="{{url_for('servers.servers_index')}}">
                    <i class="fa fa-globe fa-2x"></i>
                    <span class="nav-text">Servers</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="{{url_for('user.index')}}">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">Account</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="{{url_for('store.storepage')}}">
                    <i class="fa fa-money-bill fa-2x"></i>
                    <span class="nav-text">Store</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="https://discord.gg/BAdPPdN97c">
                    <i class="fa-brands fa-discord fa-2x"></i>
                    <span class="nav-text">Discord</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="{{url_for('admin.admin_index')}}">
                    <i class="fa-brands fa-discord fa-2x"></i>
                    <span class="nav-text">Admin</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="{{url_for('admin.users')}}">
                    <i class="fa-brands fa-discord fa-2x"></i>
                    <span class="nav-text">users</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="{{url_for('admin.admin_servers')}}">
                    <i class="fa-brands fa-discord fa-2x"></i>
                    <span class="nav-text">Servers</span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="{{url_for('user.logout')}}">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>