<!DOCTYPE html>
<html>
<head>
    <title>Ticket</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Luneslogo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/servers.css') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6122367965027230"
    crossorigin="anonymous"></script>
</head>
<body>
    <h2>THIS IS NOT COMPLETE</h2>
    

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}
    {% include 'taskbar.html' %}

    <div class="grid-container">
        {% for ticket in tickets %}
            <a href="{{ url_for('tickets.ticket', ticket_id=ticket[0]) }}">
                <div class="server-box">
                    <h3>{{ ticket[1] }}</h3>
                    <h3>{{ ticket[2] }}</h3>
                    <p>{{ ticket[3] }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

</body>
</html>