<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunes Host | Account Page</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.9/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6122367965027230" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'taskbar.html' %}

    <div class="content">
        <div class="container mx-auto mt-12 p-6">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-3-3v6" />
                    </svg>
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <h1 class="text-3xl font-bold text-center text-info">Welcome to Your Account</h1>
            <div class="user-info mt-8 text-center text-white">
                <p class="text-lg"><strong>Username:</strong> {{username}}</p>
                <p class="text-lg"><strong>Email:</strong> {{email}}</p>
                <p class="text-lg"><strong>Credits:</strong> {{credits}}</p>
                <p class="text-lg"><strong>Server Count:</strong> {{server_count}}</p>
                <p class="text-lg"><strong>Current monthly credit usage:</strong> {{monthly_usage}}</p>
                <br>
                <br>
                <p><i>The control panel uses a credit-based system. credits are charged hourly based on the monthly price (price / 30 / 24) 
                    This means that the price of your servers won’t be charged right away when the you creates a server,
                     but instead, the credits are reduced hourly—giving you the option to cancel and create servers freely anytime.
                      When the user runs out of credits, his server will automatically be suspended.</i></p>
            </div>
            <div class="button-container mt-6 text-center">
                <a href="{{url_for('user.logout')}}" class="btn btn-info text-white">Log out</a>
            </div>
        </div>
    </div>
</body>
</html>
