<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Example</title>
</head>
<body>
    <h1>Create a server</h1>
    <form action="{{ url_for('servers.create_server_submit') }}" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="node_id">Node:</label>
        <select id="node_id" name="node_id" required>
            {% for node in nodes %}
            <option value="{{node['node_id']}}">{{node['name']}}</option>
            {% endfor %}
            <!-- Add more options as needed -->
        </select>
        <br>
        <label for="egg">Software:</label>
        <select id="egg_id" name="egg_id" required>
            {% for egg in eggs %}
            <option value="{{egg['egg_id']}}">{{egg['name']}}</option>
            {% endfor %}
            <!-- Add more options as needed -->
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
