<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
    <div class="login-box">
        <h2>Login</h2>
        <form action="{{ url_for('user.login_user') }}" method="POST">
            <div class="user-box">
                <input type="text" name="email" required>
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <a><button type="submit">Submit</button><a>
        </form>
    <a href={{ url_for('reset_password') }}>Forgot Password</a>
    <a href={{ url_for('user.register_user') }}>Dont have an account? Register</a>
    </div>
</body>
</html>
