<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Luneslogo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
{% endwith %}
<div class="register-box">
        <h2>Register</h2>
        <form action="{{ url_for('register_user') }}" method="post">
            <div class="user-box">
                <input type="text" id="username" name="username" required>
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="text" id="email" name="email" required>
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" id="password" name="password" required>
                <label>Password</label>
            </div>
            <div class="user-box">
                <input type="password" id="confirm_password" name="confirm_password" required>
                <label>Confirm Password</label>
            </div>
            <button class="submit-button" type="submit">
                Register
                <span class="tooltip">Create an account</span>
            </button>
        </form>
    </div>
</body>
</html>