<!DOCTYPE html>
<html>
<head>
    <title>Lunes Host | Confirm Password Reset</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
       {% for message in messages %}
          {{ message }}
       {% endfor %}
    {% endif %}
 {% endwith %}
    <h1>Confirm Password Reset</h1>
    <p>Please enter your new password to reset your account:</p>
    <form method="post" action="{{ url_for('reset_password_confirm', token=token) }}">
        <!-- Include the token as a hidden field -->
        <input type="hidden" name="token" value="{{ token }}">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br><br>
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" required><br>
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" required><br><br>
        <input type="submit" value="Reset Password">
    </form>
    <p>Remember your password? <a href="{{ url_for('user.login_user') }}">Login</a></p>
</body>
</html>
