<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunes Host | Password Reset</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.9/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-base-200 text-base-100">
    <div class="min-h-screen flex flex-col justify-center items-center">
        <div class="card w-full max-w-sm shadow-2xl bg-base-100 p-6">
            <h1 class="text-2xl font-bold text-center text-info">Password Reset</h1>
            <p class="text-center mt-2">Please enter your email address to request a password reset:</p>
            <form method="post" action="{{ url_for('reset_password') }}" class="mt-4">
                <div class="form-control">
                    <label for="email" class="label">
                        <span class="label-text">Email:</span>
                    </label>
                    <input type="email" name="email" id="email" class="input input-bordered w-full" required>
                </div>
                <div class="form-control mt-6">
                    <button type="submit" class="btn btn-info w-full">Request Reset</button>
                </div>
            </form>
            <p class="text-center mt-4">
                Already have an account? 
                <a href="{{ url_for('user.login_user') }}" class="text-info">Login</a>
            </p>
        </div>
    </div>
</body>
</html>
