<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunes Host | Password Reset</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Luneslogo.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.9/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <style>
        input[type="email"] {
            color: white !important;
        }
    </style>
</head>
<body data-theme="synthwave">
    <div id="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
               {% for message in messages %}
               <div class="alert alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>{{ message }}</span>
                </div>
               {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <div class="card-body">
                    <div class="text-center lg:text-center">
                        <h1 class="text-5xl">Reset Password</h1>
                        <p class="py-6">Enter your email to reset your password</p>
                    </div>
                    <form method="post" action="{{ url_for('user.reset_password') }}">
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Email</span>
                            </label>
                            <input type="email" name="email" placeholder="myemail@gmail.com" class="input input-bordered" required />
                        </div>
                        <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
                        <div class="form-control mt-6">
                            <button type="submit" class="btn btn-neutral w-full">Reset Password</button>
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <a href="{{ url_for('user.login_user') }}" class="label-text-alt link link-hover">Back to login</a>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var flashMessages = document.getElementById("flash-messages");
            if (flashMessages) {
                setTimeout(function() {
                    flashMessages.style.display = "none";
                }, 5000);
            }
        });
    </script>
</body>
</html>
