<!DOCTYPE html>
<html>
<head>
    <title>Server {{ info['attributes']['name'] }}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Luneslogo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/server_details.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
{% endwith %}
    {% include 'taskbar.html' %}
    <div class="server-details-container">
        <h1>{{ info['attributes']['name'] }}</h1>
        <a href="{{ url_for('servers.delete_server', server_id=info['attributes']['id']) }}" class="button delete-button">Delete</a>
        <a href="https://ctrl.lunes.host/server/{{ info['attributes']['uuid'].split('-')[0] }}" class="button manage-button">Manage</a>
    </div>
</body>
</html>