<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <style>
        .grid-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 10px;
        justify-items: center;
        align-items: center;
          height: 10vh; /* Adjust as needed */
        }
    </style>
{% include 'taskbar.html' %}
<h1>{{info['attributes']['name']}}</h1>
</body>
</html>
