<!DOCTYPE html>
<html>
<head>
    <title>Lunes | Tickets</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Luneslogo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ticketschatbox.css') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6122367965027230"
    crossorigin="anonymous"></script>
    
</head>
<body>
    {% include 'taskbar.html' %}

    <div class="grid-container">
        <div class="server-box-title">
            <h3>{{ info['author'] }}</h3>
            <h4>{{ info['title'] }}</h4>
            <p>{{ info['created_at'] }}</p>
        </div>
        
        <div class="messages-container">
            {% for message in messages %}
                <div class="server-box">
                    <h3>{{ message['author'] }}</h3>
                    <h4>{{ message['message'] }}</h4>
                    <p>{{ message['created_at'] }}</p>
                </div>
            {% endfor %}
        </div>
    
        <form action="{{ url_for('tickets.add_message_submit', ticket_id=info['id']) }}" method="post">
            <label for="message">Your message</label>
            <input type="text" id="message" name="message">
            <input type="submit" value="Submit">
        </form>
    </div>    
</body>
</html>